html, body {
    height: 100%;
}
.mainbody{
    position:relative;
    height:700px;
    width:100%
}
.contentBody{
    background-color: white;
    font-family: 'Roboto Mono', monospace;
}
.brand-logo{
    margin-left:15px;
}
.contactbody{
    background-color:white;
    height:500px;
    width:auto;
    padding-top:20px;
}
.brand-logo{
    margin-left:15px;
}
body{
    font-family: 'Roboto Mono', monospace;

}